.inline{
    display: inline;
}

li>button>a{
    text-decoration: none;
}

.book{
    font-size: 40px;
    color: rgb(7, 167, 231);
}

.button {
    background-color: #522ba8;
    color: #fff;
    border-radius: 5px;
}

.login {
    outline: none;
    border: none;
    margin-top: 50px;
    height: 45px;
    width: 100%;
}